<div class="row">
  <div class="col-md-12 text-center"
    <h3>Registered Applications</h3>  
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <% @registered_applications.each do |app| %>
      <h4><%= link_to app.name, registered_application_path(app.id) %></h4>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <h3><%= link_to "Register New Application", new_registered_application_path(@registered_application), class: 'btn btn-success' %></h3>
  </div>
</div>