<div class="row">
  <div class="col-md-12 text-center">
    <h3>Blocmetrics is an analytic service that will track events on your website.<br>
    It is comprised of 3 key features: </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <h4>A client-side JavaScript snippet that allows a user to track events on your website(s).</h4>
  </div>
  <div class="col-md-4 text-center">
    <h4>A server-side API that captures and saves those events to a database.</h4>
  </div>
  <div class="col-md-4 text-center">
    <h4>A Rails application that displays the captured event data for a user.</h4>
  </div>
</div>

